*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  line-height: 80px;
  border: solid;
  border-radius: 15px;
  width: 400px;
  margin: 0px;
  /* margin-top: 60px; */
  background: linear-gradient(to right, #cbce91ff, #ea738dff);
}

.display #top {
  /* color: rgba(70, 68, 68, 0.75); */
  font-size: 1.5rem;
  word-wrap: break-word;
}

.display #bottom {
  color: white;
  font-size: 2.5rem;
}

input[type="button"] {
  border: solid black 0.5px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  font-size: 25px;
}

.display-top {
    color: rgb(55, 54, 54);
}

.display-top,
.display-bottom {
  border: none; 
  width: 135%;
  text-align: right;
  font-size: 25px;
  height: 90px;
  word-wrap: break-word;
}

input[type="button"]:hover {
  background-color: rgb(235, 176, 188);
}

@media screen and (max-width: 310px) {
  .container {
    scale: 0.95;
  }
}

/* @media screen and (max-width: 300px) {
  .container {
    line-height: 84.8px;
    border-radius: 1px;
    width: 100%;
    margin-top: 00px;
  }
  .display-top,
.display-bottom {
  height: 93px;
}
}

@media screen and (max-width: 400px) {
  .container {
    line-height:120px;
    border-radius: 1px;
    width: 100%;
    margin-top: 00px;
  }
  .display-top,
.display-bottom {
  height: 100px;
}
} */
